<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Avviso di scadenza fattura - ES.Cantieri</title>
    <style type="text/css">
        .auto-style1 {
            font-size: large;
        }
        .auto-style2 {
            color: #FF0000;
        }
        .auto-style3 {
            text-decoration: underline;
        }
        .auto-style4 {
            font-size: small;
        }
        .auto-style5 {
            color: #0000FF;
        }
    </style>
</head>
<body style="font-family:'Segoe UI'">

    <p class="auto-style1" >
        <strong>AVVISO DI SCADENZA</strong></p>
    <p>
        La fattura n. <strong>$codificaFattura$</strong>, emessa dal fornitore <strong>$codificaFornitore$</strong> di importo pari a <strong>$totaleFattura$</strong>, scade il <span class="auto-style2"><strong>$scadenza$</strong></span>.</p>
    <p>
        L&#39;importo già pagato ammonta a <span class="auto-style5"> <strong>$totalePagamentiDato$</strong></span>.&nbsp;
        <br />
        L&#39;importo a saldo ancora da pagare è pari a <span class="auto-style2"> <strong>$totalePagamentiDare$</strong></span>.</p>
    <p>
        <span class="auto-style3">Pagamenti effettuati:</span><br />
        $codificaPagamenti$</p>
    <p>
        &nbsp;</p>
    <p>
        Azienda $codificaAzienda$</p>
    <p>
        &nbsp;</p>
    <hr />
    <p>
        <em>ESD - Engineering System Development</em><br />
        <span class="auto-style4">(SCPN) - System Center Push Notification | <strong>ES.Cantieri</strong></span></p>
    <p>
        &nbsp;</p>

</body>
</html>
