<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Report Fornitori - ES.Cantieri</title>
    <style type="text/css">
        .auto-style1 {
            font-size: large;
        }
        .auto-style2 {
            color: #FF0000;
        }
        .auto-style4 {
            font-size: small;
        }
        .auto-style5 {
            color: #0000FF;
        }
    </style>
</head>
<body style="font-family:'Segoe UI'">

    <p class="auto-style1" >
        <strong>REPORT BUSINESS ANALYST - SITUAZIONE FORNITORI</strong></p>
    <p>
        Il report prodotto rappresenta la situazione aziendale contabile fino ad oggi elaborata, relativamente ai fornitori per l&#39;acquisto e l&#39;approvvigionamento del materiale, degli articoli e dei prodotti in genere. Il documento contiene il resoconto dei fornitori suddiviso per contabilità generale, per commessa di lavorazione nonchè per singola fattura d&#39;acquisto. Per ogni fornitore viene dettagliato il prospetto pagamenti evidenziando il tipo di transazione, se in acconto o a saldo. Per ogni fattura invece viene indicato l&#39;importo totale e l&#39;effettivo stato di pagamento, annotando se la stessa risulta ancora insoluta, non pagata o pagata.</p>
    <p>
        La data di elaborazione e di produzione del report è <span class="auto-style2"> <strong>$elaborazione$</strong></span>.&nbsp;
        <br />
        Per visualizzare i dati in dettaglio fai clic sul link <span class="auto-style2"> <strong><span class="auto-style5"> <a href="$url$">Report fornitori</a></span></strong></span>.</p>
    <p>
        &nbsp;</p>
    <p>
        Azienda $codificaAzienda$</p>
    <p>
        &nbsp;</p>
    <hr />
    <p>
        <em>ESD - Engineering System Development</em><br />
        <span class="auto-style4">(SCPN) - System Center Push Notification | <strong>ES.Cantieri</strong></span></p>
    <p>
        &nbsp;</p>

</body>
</html>
